<!DOCTYPE html>
<html lang="en"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auralis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}?v=2.0">
</head>

<body>
    <main id="view-welcome" class="view-container hidden">
        <div class="welcome-container">
            <h1>auralis.</h1>
        </div>
        <div class="text-container">
            <p>Your surroundings shape how you focus.</p>
            <p>Let's find music that fits this moment.</p>
        </div>
        <div class="listen-button-container">
            <button id="listen-button">
                <img src="{{ url_for('static', filename='ear.png') }}" id="btn-icon" alt="Ear Icon">
                Listen
            </button>
            <p id="time-taken">(takes about 15 seconds)</p>
        </div>
    </main>

    <section id="view-listening" class="view-container">
        <p>Listening to your surroundings...</p>

        <div class="waveform">
            <!-- adding a lot of bars to animate lol -->
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </section>

    <section id="view-analysis" class="view-container hidden">
        <div class="card">
            <span class="card-subtitle">This space feels like...</span>
            <h2 class="card-title">cozy café</h2>
            
            <p class="card-description">
                Soft conversation and a gentle ambience create a comfortable place for focused work today.
            </p>
            
            <div class="tags-container">
                <span class="tag">voices</span>
                <span class="tag">background music</span>
                <span class="tag">relaxed</span>
            </div>
            
            <button class="action-btn">
                <img src="{{ url_for('static', filename='arrow.png') }}" id="arrow-icon" alt="right arrow">
                See recommendations
            </button>
        </div>
    </section>

    <section id="view-results" class="view-container hidden">
        <div class="card">
            <h2>Here's what I suggest:</h2>
            <p id="result-subtitle">Warm, mellow tracks that blend naturally into a relaxed café atmosphere.</p>

            <div class="divider"></div>

        <div class="track-list">

            <div class="track-item">
                <img src="https://upload.wikimedia.org/wikipedia/en/1/11/V_-_Layover.png?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=original" class="track-cover">
                <div class="track-info">
                    <span class="track-name">Slow Dancing</span>
                    <span class="track-artist">V</span>
                </div>
            </div>

            <div class="track-item">
                <img src="https://i.scdn.co/image/ab67616d0000b273e9211a624b3f1105af1aaaee" class="track-cover">
                <div class="track-info">
                    <span class="track-name">Dreams</span>
                    <span class="track-artist">RUBII</span>
                </div>
            </div>

            <div class="track-item">
                <img src="https://i.scdn.co/image/ab67616d0000b27348341e864d4b4881f56f01b4" class="track-cover">
                <div class="track-info">
                    <span class="track-name">Valentine</span>
                    <span class="track-artist">Laufey</span>
                </div>
            </div>

        </div>

        <button class="listen-again-btn">
            <img src="{{ url_for('static', filename='ear.png') }}" alt="Listen" class="btn-icon">
            Listen again
        </button>

        </div>
    </section>

</body>
</html>